
.routeGrid {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
  width: 45%;
}
.boulder {
  background-image: url("../images/boulder.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 3.25%;
  margin-right: 2.25%;
  -webkit-transition: .2s;
}
.boulder:hover {
  transition: .2s;
  background-image: url("../images/boulder.png");
  transform: perspective(500px) rotateY(15deg);
}

.golden {
  background-image: url("../images/golden.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  -webkit-transition: .2s;
}
.golden:hover {
  transition: .2s;
  background-image: url("../images/golden.png");
  transform: perspective(500px) rotateY(-15deg);
}

.lyons {
  background-image: url("../images/lyons.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 3.25%;
  margin-right: 2.25%;
  margin-top: 2.25%;
  -webkit-transition: .2s;
}
.lyons:hover {
  transition: .2s;
  background-image: url("../images/lyons.png");
  transform: perspective(500px) rotateY(15deg);
}

.sPlatte {
  background-image: url("../images/sPlatte.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-top: 2.25%;
  -webkit-transition: .2s;
}
.sPlatte:hover {
  transition: .2s;
  background-image: url("../images/sPlatte.png");
  transform: perspective(500px) rotateY(-15deg);
}
