#alert {
  height: 14px;
}
.routeGrid {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
  max-width: 400px;
  max-height: 400px;
  width: 45%;
}
.boulder {
  background-image: url("../images/boulder.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  /*margin-left: 2.25%;*/
  margin-right: 2.25%;
  /*animation: shake 2s infinite;*/
}
.boulder:hover {
  background-image: url("../images/boulder.png");
  animation: shake 2s;

}

.golden {
  background-image: url("../images/golden.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  -webkit-transition: .2s;
  /*animation: shake 2s infinite;*/
}
.golden:hover {
  animation: shake 2s;

}

.lyons {
  background-image: url("../images/lyons.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  /*margin-left: 2.25%;*/
  margin-right: 2.25%;
  margin-top: 2.25%;
  -webkit-transition: .2s;
  /*animation: shake 2s infinite;*/

}
.lyons:hover {
  animation: shake 2s;
}

.sPlatte {
  background-image: url("../images/sPlatte.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-top: 2.25%;
  -webkit-transition: .2s;
  /*animation: shake 2s infinite;*/
}
.sPlatte:hover {
  animation: shake 2s;
}
@keyframes shake
{
  0%  { transform: perspective(500px) rotateY(-5deg); }
  5%  { transform: perspective(500px) rotateY(5deg); }
  10% { transform: perspective(500px) rotateY(-4.5deg); }
  15% { transform: perspective(500px) rotateY(4.5deg); }
  20% { transform: perspective(500px) rotateY(-4deg); }
  30% { transform: perspective(500px) rotateY(4deg); }
  35% { transform: perspective(500px) rotateY(-3.5deg); }
  40% { transform: perspective(500px) rotateY(3.5deg); }
  45% { transform: perspective(500px) rotateY(-3deg); }
  50% { transform: perspective(500px) rotateY(3deg); }
  55% { transform: perspective(500px) rotateY(-2.5deg); }
  60% { transform: perspective(500px) rotateY(2.5deg); }
  65% { transform: perspective(500px) rotateY(-2deg); }
  70% { transform: perspective(500px) rotateY(2deg); }
  75% { transform: perspective(500px) rotateY(-1.5deg); }
  80% { transform: perspective(500px) rotateY(1.5deg); }
  85% { transform: perspective(500px) rotateY(-1deg); }
  90% { transform: perspective(500px) rotateY(1deg); }
  95% { transform: perspective(500px) rotateY(-.5deg); }
  100% { transform: perspective(0px) rotateY(0deg) }
}
