
.bcc {
  background-image: url("../images/boulderCanyon.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 3.25%;
  margin-right: 2.25%;
}

.eldo {
  background-image: url("../images/eldo.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
}


.eldoMtn {
  background-image: url("../images/eldoMtn.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 3.25%;
  margin-right: 2.25%;
  margin-top: 2.25%;

}

.flagstaff {
  background-image: url("../images/flagstaff.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-top: 2.25%;
}

.flatirons {
  background-image: url("../images/flatirons.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-left: 3.25%;
  margin-right: 2.25%;
  margin-top: 2.25%;
}

.upperDream {
  background-image: url("../images/upperDream.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: left;
  margin-top: 2.25%;
}
