
.bcc {
  background-image: url("../images/boulderCanyon.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-right: 2.25%;
  -webkit-transition: .2s;
}
.bcc:hover {
  transition: .2s;
  background-image: url("../images/boulderCanyon.png");
  transform: perspective(500px) rotateY(15deg);
  -webkit-transition: .2s;
}
.eldo {
  background-image: url("../images/eldo.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  -webkit-transition: .2s;
}
.eldo:hover {
  transition: .2s;
  background-image: url("../images/eldo.png");
  transform: perspective(500px) rotateY(-15deg);
}


.eldoMtn {
  background-image: url("../images/eldoMtn.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-right: 2.25%;
  margin-top: 2.25%;
  -webkit-transition: .2s;

}
.eldoMtn:hover {
  transition: .2s;
  background-image: url("../images/eldoMtn.png");
  transform: perspective(500px) rotateY(15deg);
}

.flagstaff {
  background-image: url("../images/flagstaff.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-top: 2.25%;
  -webkit-transition: .2s;
}
.flagstaff:hover {
  transition: .2s;
  background-image: url("../images/flagstaff.png");
  transform: perspective(500px) rotateY(-15deg);
}

.flatirons {
  background-image: url("../images/flatirons.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-right: 2.25%;
  margin-top: 2.25%;
  -webkit-transition: .2s;
}
.flatirons:hover {
  transition: .2s;
  background-image: url("../images/flatirons.png");
  transform: perspective(500px) rotateY(15deg);
}
.upperDream {
  background-image: url("../images/upperDream.png");
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  float: center;
  margin-top: 2.25%;
  -webkit-transition: .2s;
}
.upperDream:hover {
  transition: .2s;
  background-image: url("../images/upperDream.png");
  transform: perspective(500px) rotateY(-15deg);
}
