.boxGrid {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
  width: 96%;

}
.box1 {
  background-color: #9f9f9f;
  height: 30vh;
  border-radius: 10px;
  float: center;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 300px;
  max-width: 1500px;
}

.row1 {
  text-align: left;
}

.left {
  height: 100%;
  width: 25vw;
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.center {
  height: 100%;
  width: 25vw;
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.right {
  height: 100%;
  width: 25vw;
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;

}
.box2 {
  background-color: #9f9f9f;
  height: 30vh;
  border-radius: 10px;
  float: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  min-height: 300px;
  max-width: 1500px;
}


.box3 {
  background-color: #9f9f9f;
  height: 40vh;
  border-radius: 10px;
  float: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 500px;
  max-width: 1500px;
}
.right3 {
  height: 100%;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  vertical-align: top;
}
